@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Sora", sans-serif;
    background: rgba(247, 247, 247, 1);
}
.active{
    color: #9538E2;
    background: transparent;
}
.homeSpecial{
    color: white;
    border-bottom: 2px solid white;
}